.csd headerbar,
.csd headerbar:backdrop,
headerbar,
headerbar:backdrop {
  padding: 0 8px;
  min-height: 30px;
}

.csd headerbar .titlebutton,
headerbar .titlebutton,
.csd headerbar:backdrop .titlebutton,
headerbar:backdrop .titlebutton{
  margin: 0;
  padding: 0 0px;
  min-width: 0px;
  min-height: fit-content;
  height: fit-content;
}

.terminal-screen {
  padding: 8px;
}

.titlebar:not(headerbar),
.titlebar:backdrop:not(headerbar) {
  padding: 0;
}

/* * {
  font-weight: 600;
  text-shadow: none;
}

.solid-csd headerbar .title {
  font-size: 0;
}

window decoration {
  margin: 0;
  border: none;
  padding: 0;
}*/
