/*
.csd headerbar,
.csd headerbar:backdrop,
headerbar,
headerbar:backdrop{
  padding: 0 8px;
  min-height: 30px;
}

.csd headerbar .titlebutton,
headerbar .titlebutton,
.csd headerbar:backdrop .titlebutton,
headerbar:backdrop .titlebutton {
  margin: 0;
  padding: 0 0px;
  min-width: 0px;
  min-height: fit-content;
  height: fit-content;
}

.titlebar:not(headerbar),
.titlebar:backdrop:not(headerbar) {
  padding: 0;
}*/

VteTerminal,
TerminalScreen,
vte-terminal {
  padding: 15px;
}

/* .maximized .csd headerbar, */
/* .maximized .csd headerbar:backdrop, */
/* .maximized headerbar, */
/* .maximized headerbar:backdrop { */
/*   border-top-right-radius: 5px; */
/*   border-top-left-radius: 5px; */
/* } */

/* * {
  font-weight: 600;
  text-shadow: none;
}

.solid-csd headerbar .title {
  font-size: 0;
}

window decoration {
  margin: 0;
  border: none;
  padding: 0;
}*/
